

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#dashboard {
  width: 100%;
  height: 100vh;
}

#dashboard .request {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dashboard .request .request-inner-container {
  width: 80%;
  height: 80%;
}

#dashboard .login {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;

  display: flex;
}

#dashboard .login .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#dashboard .login .left .left-inner-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#dashboard .login .left .left-inner-container .logo {
  width: 70%;
}

#dashboard .login .left .left-inner-container .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#dashboard .login .left .left-inner-container .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#dashboard .login .left .form .input {
}

#dashboard .login .left .left-inner-container .form .input input {
  width: 100%;
  padding: 8px 16px;
  background: #e8e8e8;
  border: none;
  font-size: 16px;
}

#dashboard .login .left .left-inner-container .form .input button {
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #1877f2;
  border: none;
  color: #fff;
  cursor: pointer;
}

#dashboard .login .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dashboard .login .right .right-inner-container {
  width: 80%;
  height: 80%;
}

#dashboard .login .right .right-inner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}
